<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/popuptpls %>
    
    <meta property="fb:app_id" content="1264290230261613"/>
    <meta property="og:url" content="http://qadermoney.games/"/>
    <meta property="og:title" content="性連性 - 賓果得獎金"/>
    <meta property="og:image" content="http://qadermoney.games/client/images/share_pic.jpg"/>
    <meta property="og:description" content="您好：歡迎來到【性連性　賓果得獎金】「希望藉由輕鬆的賓果遊戲＆小獎品，讓大家都可以學到正確的性傳染病知識唷！獎品有限，晚來就ｎｏｓｕ囉ＸＤ　快來吧！」"/>
    
    <% include partials/head %>

    <title>性連性 - 賓果得獎金</title>
</head>

<body>

<!-- <div class="row">
    <fb:login-button scope="public_profile,email" size="large" auto_logout_link="true" onlogin="checkLoginState();">
    </fb:login-button>
</div>
<div id="blockRegion" class="row"></div>
<div style="color:red;">Game Screen Default hidden</div>
<div class="row" id="logRegion" style="overflow:auto; height: 450px; border:2px solid #ececec;"></div> -->

<section class="gameBox">
    <div class="ContentsBox clearfix">
        <div class="leftBox25">
            <div class="loginBeforeBox" style="display: none;">
                <h1 class="gameName">遊戲名稱</h1>
                <p class="note">
                    哈囉✌<br/>
                    希望藉由輕鬆的賓果遊戲，傳達正確的性傳染病知識。<br/>
                    連線愈多，獎金愈高喔！晚來就ｎｏｓｕ囉ＸＤ
                </p>
                <p class="loginBox">
                    <a class="fb" href="#" onclick="fb_login();">Facebook登入</a>
                    <!-- <a class="google" href="#">Gmail登入</a> -->
                </p>
            </div>
            <!-- 選中此題目吃this，會出現光暈和兩條線 -->
            <!-- 跑動畫隨機時吃"random" -->
            <!-- 答對吃yes -->
            <!-- 答錯吃no -->
            <div class="loginAfterBox" style="display: none;">
                <p class="topic">题目</p>
                <div class="gridBox">
                    <ul class="clearfix">
                        <li><p class="p1">Q1</p></li>
                        <li><p>Q2</p></li>
                        <li><p>Q3</p></li>
                        <li><p>Q4</p></li>
                        <li><p>Q5</p></li>
                        <li><p>Q6</p></li>
                        <li><p>Q7</p></li>
                        <li><p>Q8</p></li>
                        <li><p class="p9">Q9</p></li>
                        <li><p class="p10">Q10</p></li>
                        <li><p>Q11</p></li>
                        <li><p>Q12</p></li>
                        <li><p>Q13</p></li>
                        <li><p class="p14">Q14</p></li>
                        <li><p class="p15">Q15</p></li>
                        <li><p>Q16</p></li>
                        <li><p>Q17</p></li>
                        <li><p>Q18</p></li>
                        <li><p class="p19">Q19</p></li>
                        <li><p class="p20">Q20</p></li>
                        <li><p class="p21">Q21</p></li>
                        <li><p>Q22</p></li>
                        <li><p>Q23</p></li>
                        <li><p class="p24">Q24</p></li>
                        <li><p class="p25">Q25</p></li>
                    </ul>
                </div>
            </div>
            <div class="loginEndBox" style="display: none;">
                <h1 class="gameName">遊戲名稱</h1>
                <p class="note">下台一鞠躬 👋</p>
                <p class="loginBox">
                    <a class="fb" href="#" onclick="fb_logout();">Facebook登出</a>
                </p>
            </div>
        </div>
        <div class="GameExplanation">
            <div class="userBox">
                <p class="logoutBox">
                    <a class="fb" href="#" onclick="fb_logout();"><span>登出</span></a>
                </p>
                <p style="display: none;">Hi <span id="strUserName"></span>, 您好</p>
            </div>
            <p class="title_ex">遊戲說明</p>
            <p class="game_title t01">基本規則</p>
            <p class="game_info">1. 皆以ＦＢ帳號登入，每個ＦＢ帳號限玩一次。</p>
            <p class="game_info">2. 遊戲前請詳閱注意事項，同意後再開始連線遊戲。</p>
            <p class="game_title t02">操作規則</p>
            <p class="game_info">1. 登入後，務必按下【開始作答】鍵後，遊戲才會開始喔！</p>
            <p class="game_info">2. 題目由系統自動隨機選題，每題作答時間 15 秒。</p>
            <p class="game_info">3. 選完之後，記得務必在時間內按下【確認】才算成功答題唷！</p>
            <p class="game_info">4. 答對的題目將顯示為綠色，答錯則為灰色。</p>
            <p class="game_info">5. 答題後會出現【ＳＴＤ小學堂】就是衛教知識，請詳閱其中內容，因為其他題目的答案很可能就在其中喔！看完之後，請按下【繼續】繼續闖關。</p>
            <p class="game_info">6. 當連成1條線時會出現【我要領獎】與【繼續挑戰】的選項，若選擇【我要領獎】系統將會依據您的連線數呈現獎金，並請依循指示填寫領獎人資料。</p>
            <p class="game_info">7. 若選擇【繼續挑戰】，則繼續挑戰賓果，最高獎金１０００元等你唷！</p>
            <p class="game_info">8. 最後，別忘了要分享至您的塗鴉牆唷！(≧∀≦)</p>
            <p class="game_info">9. 準備好了嗎？開始賓果吧！☝</p>
            <p class="btnStart"><a>開始作答 >></a></p>
        </div>
    </div>
    
</section>
<footer class="footerBox">
    <p class="Copyright">Copyright © TUA 台灣泌尿科醫學會<br/>
    Powered by Hao-Yuan Lien, Eikiy Chang All rights reserved.<br/>
    與我聯絡: stdfriendly240@gmail.com </p>
</footer>

<!-- popup box -->
<article id="popupBox" class="pop_bk">
    <!-- contents -->
</article>

<article id="loadingBox" class="pop_loading">
    <div class="pop_loading_body">
        <div class="pop_loading_inner"></div>
    </div>
</article>

<article id="preinfoBox" class="pop_bk">
    <section class="pop_info" style="position: fixed; height: 85%;">
        <div class="QBox" style="overflow: auto;height: inherit;">
            <div class="answerBox">
                <p class="good_b alignLeft defaultFont">本活動「性連性　賓果得獎金」活動主辦暨執行單位為台灣泌尿科醫學會，參加者需於參加活動前細閱並同意遵守以下規則。
                您的參與將代表您已閱讀及同意各項條文及規範；如有違反，主辦單位得取消其參加或得獎資格。</p>
            <ul class="preinfo_list defaultFont">
                <li>本活動期間為台灣時間2016年10月25日00:00 – 2016年11月25日23:59。</li>
                <li>以活動期間內同一FB帳號登入回答的賓果連線數為最後得獎依據。</li>
                <li>本活動之獎品不得要求轉換、轉讓或折換現金。</li>
                <li>本活動獎項寄送地區僅台、澎、金、馬。若得獎者之通訊地址不包含上述地區時，需自行領取，台灣泌尿科醫學會不處理郵寄獎項至海外地區之事宜。</li>
                <li>得獎者本人應在台灣泌尿科醫學會通知之期限內回覆確認同意領取獎品，並且提供領取獎品所需之完整相關資料與文件，逾期即視同棄權。得獎人資料須與其「性連性　賓果得獎金」帳號資料內容相符，若不符，台灣泌尿科醫學會有權要求得獎人提出相關證明文件，否則台灣泌尿科醫學會可取消其得獎資格。</li>
                <li>依中華民國稅法規定，中獎贈品或獎金價值NT$1,000以下者免計入申報所得稅。外籍人士不論兌換商品金額多寡皆須支付20%稅款。得獎者須依中華民國所得稅法規定繳納稅金，並於年度報稅時必須計入個人所得合併申報。</li>
                <li>如有任何因電腦、網路、電話、技術或不可歸責於台灣泌尿科醫學會之事由，而使參加者所寄出或登錄的資料有延遲、遺失、錯誤、無法辨識或損毀的情形，台灣泌尿科醫學會不負任何法律責任，參加者亦不得因此提出異議。</li>
                <li>嚴禁使用惡意程式破壞或攻擊本網站內容。</li>
                <li>凡參與本活動之參賽者視同同意將個人資料作為主辦單位及指導單位活動聯繫及行銷宣傳之用；主辦單位及指導單位僅保有非營利性之事件宣傳與行銷散播權利。</li>
                <li>各活動如有未盡事宜，台灣泌尿科醫學會擁有保留修改活動內容之權利，修改訊息將於本網站上公佈，另行通知。</li>
            </ul>
            </div>
            <div class="btn_yellBox"><button class="ok">確認</button></div>
        </div>
    </section>
</article>
<script type="text/javascript">
    var preinfoBox = (function(){
        var box = $("#preinfoBox");
        var res = {
            show: function(){            
                box.css("display", "block");
                setTimeout(function(){ box.css("opacity", 1); }, 100);
            },
            hide: function(){
                box.css("opacity", 0);
                setTimeout(function(){ box.css("display", ""); }, 500);
            }
        };
        box.find(".ok").click(function(){ res.hide(); });
        return res;
    })();
    preinfoBox.show();
</script>
</body>
</html>