@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin:0;  padding:0;}
fieldset, img { border:0;}
ol, ul {list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}

@font-face {
  font-family: "Microsoft JhengHei";
  src: url('msjh.eot'); /* IE9 Compat Modes */
  src: url('msjh.woff') format('woff'), 
    url('msjh.ttf') format('truetype'),
    url('msjh.svg') format('svg'); /* Legacy iOS */ 
  font-weight: normal;
  font-style: normal;
}


.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q { quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;}

* {-webkit-text-size-adjust:none;}

a{text-decoration:none;}
em{/*font-style:normal;*/}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}
.CLEAR{ clear:both; height: 0; font-size: 0px; line-height: 0;}

/**
 * Markup free clearing
 * Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;}


body, h1, h2, h3, h4, h5, h6, p { font-family: 'Arial',"微軟正黑體","Microsoft JhengHei", 'Arial',serif; -webkit-font-smoothing: antialiased;}
p{ font-size:15px;  line-height:24px;/*font-family: 'Nunito', sans-serif;*/}
a{  text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */-webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}
a:hover{ text-decoration:none; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}
select, input, textarea, button { font-family:"微軟正黑體","Microsoft JhengHei", serif; -webkit-font-smoothing: antialiased; font-size:14px;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; /*-o-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -webkit-transition: color .20s linear, background-color .20s linear, border-color .20s linear; -moz-transition: color .20s linear, background-color .20s linear, border-color .20s linear; transition: color .20s linear, background-color .20s linear, border-color .20s linear;  text-decoration:none; outline: none;*/ /* for Firefox */  
  hlbr:expression(this.onFocus=this.blur()); /* for IE */
  -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; -ms-transition:all .5s ease-in-out;}
 
/*@media screen and (max-device-width: 750px) {}*/

/*--go--*/
.ContentsBox{ width: 100%; max-width:1440px; margin: 0 auto;}

body{ background: url(../images/br_00.jpg) center top repeat; background-size: cover; /*background-attachment: fixed;*/ position: relative;  padding-bottom:70px;}

.gameBox { width: 100%; padding-top: 152px;}
.gameBox .leftBox25{ width: 70%; float: left; display: block; background: url(../images/blackboard.png) center top no-repeat; background-size: contain;}
.gameBox .leftBox25 .loginBeforeBox, .gameBox .leftBox25 .loginEndBox{ width: 100%; height: 740px; }

.gameBox .leftBox25 h1.gameName{ width: 570px; height: 170px; text-indent: -9999px; display: block; background: url(../images/game_name.png) center center no-repeat; background-size: contain; margin: 0px auto; margin-top: 150px;}
.gameBox .leftBox25 p.note{ font-size: 20px; color: #fff; text-align: center; font-weight: bold; margin: 50px auto; }
.gameBox .leftBox25 p.loginBox{ max-width:260px;font-size: 16px; font-weight: bold; line-height: 50px; margin: 0 auto; text-align: center;}
.gameBox .leftBox25 p.loginBox a{ color: #fff; width: 100%; height: 50px; display: block; margin:20px 0; border-radius: 65px;}
.gameBox .leftBox25 p.loginBox a.fb{ background: url(../images/icon_fb.png) center left no-repeat #4d70c1; background-size: contain; }
.gameBox .leftBox25 p.loginBox a.google{ background: url(../images/icon_google.png) center left no-repeat #f44b4b; background-size: contain; }
.gameBox .leftBox25 p.loginBox a.fb:hover{ background-color: #5680e2; }
.gameBox .leftBox25 p.loginBox a.google:hover{ background-color: #ff4040; }

.gameBox .leftBox25 .loginAfterBox{ width: 100%; position: relative;}
.gameBox .leftBox25 .loginAfterBox p.topic{ position: absolute; left: 40px; top: -10px; text-indent: -9999px; width: 80px; height: 45px; display: block; background: url(../images/topic.png) center center no-repeat; background-size: contain;}

.gameBox .leftBox25 .loginAfterBox .gridBox{width: 90%; margin: 40px auto; padding: 50px 0 30px 0; background:url(../images/line_25.png) top left no-repeat; background-size: contain;}
.gameBox .leftBox25 .loginAfterBox ul{ width: 90%; margin: 0 auto;}
.gameBox .leftBox25 .loginAfterBox ul li{ width: 20%; float: left;  min-height: 132px; position: relative;}
.gameBox .leftBox25 .loginAfterBox ul li p{ position: absolute; width: 80%; left:20px; line-height: 120px; font-size: 55px; color: #e2e2e2; text-align: center;font-family: 'Shrikhand', cursive;}
.gameBox .leftBox25 .loginAfterBox ul li p.random{ color: #efe702; }
.gameBox .leftBox25 .loginAfterBox ul li p.this{ color: #efe702; text-shadow: 0 0 8px #efe702; background:url(../images/br_this.png) center bottom no-repeat; background-size: contain;}
.gameBox .leftBox25 .loginAfterBox ul li p.yes{ color: #46ef6a;}
.gameBox .leftBox25 .loginAfterBox ul li p.no{ color: #515354;}

.gameBox .leftBox25 .loginAfterBox ul li p.p1{ left: 0; }
.gameBox .leftBox25 .loginAfterBox ul li p.p9, .gameBox .leftBox25 .loginAfterBox ul li p.p14, .gameBox .leftBox25 .loginAfterBox ul li p.p19{ top: 8px; }
.gameBox .leftBox25 .loginAfterBox ul li p.p10,.gameBox .leftBox25 .loginAfterBox ul li p.p15, .gameBox .leftBox25 .loginAfterBox ul li p.p20{ top: 15px; }
.gameBox .leftBox25 .loginAfterBox ul li p.p20{ left: 10px; }
.gameBox .leftBox25 .loginAfterBox ul li p.p21{ left: 30px; }
.gameBox .leftBox25 .loginAfterBox ul li p.p25{ left: 0; }

.gameBox .GameExplanation{ width: 25%; float: right; }
.gameBox .GameExplanation .userBox{ width: 100%; height: 130px;}
.gameBox .GameExplanation .userBox p{ font-size: 20px; color: #fff; text-align: center; padding-top: 60px; }
.gameBox .GameExplanation .userBox p span{ color: #f2eb27; text-decoration: underline; }

.gameBox .GameExplanation .userBox p.logoutBox{ width:80px; font-size: 15px; font-weight: bold; margin: 0 auto; padding: 0; text-align: center; }
.gameBox .GameExplanation .userBox p.logoutBox a{ line-height:30px; color: #fff; width: 100%; display: block; border-radius: 10px;}
.gameBox .GameExplanation .userBox p.logoutBox a.fb{ background: url(../images/icon_fb.png) center left no-repeat #4d70c1; background-size: contain; }
.gameBox .GameExplanation .userBox p.logoutBox a.fb:hover{ background-color: #5680e2; }
.gameBox .GameExplanation .userBox p.logoutBox a.fb span{ color: #fff; padding-left: 18px; text-decoration: none;}

.gameBox .GameExplanation p.title_ex{ width: 100%; max-width: 300px; height: 100px; display: block; background: url(../images/r_top_title.png) center center no-repeat; background-size: contain; text-indent: -9999px; margin-bottom: 40px;}
.gameBox .GameExplanation p.game_title{ width: 100px; height: 36px; display: block; text-indent: -9999px; margin-bottom: 5px; }
.gameBox .GameExplanation p.t01{ background: url(../images/game_title_a.png) center center no-repeat; background-size: contain; }
.gameBox .GameExplanation p.t02{ background: url(../images/game_title_b.png) center center no-repeat; background-size: contain; }

.gameBox .GameExplanation p.game_info{color: #fff; text-align: justify; margin-bottom: 25px; text-shadow: 0 0 5px #000;}
.gameBox .GameExplanation p.btnStart{ width: 200px; text-indent: -9999px; display: block; margin: 40px auto;}
.gameBox .GameExplanation p.btnStart a{ width: 100%; cursor: pointer; height: 42px; display: block; background: url(../images/br_btn_star.png) center center no-repeat #efe82f; background-size: contain; }
.gameBox .GameExplanation p.btnStart a:hover{ background-color: #ffd200; }

.footerBox{ position: absolute; bottom: 20px; right: 20px}
.footerBox p.Copyright{ font-size: 11px; color: #fff; line-height: 20px; text-align: right; text-shadow: 0 0 8px #000;}

@media (max-width:1455px){.ContentsBox{ width: 1200px;}
  .gameBox{ padding-top: 80px; }
  .gameBox .leftBox25 h1.gameName{ margin-top: 100px; }  
  .gameBox .leftBox25 .loginBeforeBox, .gameBox .leftBox25 .loginEndBox{ height: 600px; }
  .gameBox .leftBox25 .loginAfterBox ul li{ min-height: 105px;}
  .gameBox .leftBox25 .loginAfterBox ul li p{ font-size: 44px; line-height: 100px; }
  .gameBox .leftBox25 .loginAfterBox p.topic{height: 40px;}
  .gameBox .leftBox25 .loginAfterBox .gridBox{ width: 84%; padding: 24px 0 30px 0;}}

@media (max-width:1440px){.gameBox .leftBox25 .loginAfterBox ul li p{font-size: 42px; }}
@media (max-width:1260px){.ContentsBox{ width: 1000px;}
  .gameBox .GameExplanation .userBox{ height: 65px; }
  .gameBox .GameExplanation .userBox p{padding-top: 20px; font-size: 18px;}
  .gameBox .leftBox25 h1.gameName{ margin-top: 50px; }
  .gameBox .leftBox25 .loginBeforeBox, .gameBox .leftBox25 .loginEndBox{ height: 550px; }
  .gameBox .leftBox25 .loginAfterBox ul li{ min-height: 88px;}
  .gameBox .leftBox25 .loginAfterBox ul li p{line-height: 85px; font-size: 34px;}
  .gameBox .GameExplanation p.title_ex{ margin-bottom: 20px; }
  .gameBox .leftBox25 .loginAfterBox p.topic{ top: -20px; }}

@media (max-width:1080px){.ContentsBox{ width: 900px;}
  .gameBox .leftBox25 .loginAfterBox ul{ width: 88%; }
  .gameBox .leftBox25 .loginAfterBox ul li{ min-height: 78px; }
  .gameBox .leftBox25 .loginAfterBox ul li p{ font-size: 28px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p24{ top: 8px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p25{ top: 15px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p21{ left: 20px;}
  .gameBox .leftBox25 .loginAfterBox ul li p.p15, .gameBox .leftBox25 .loginAfterBox ul li p.p20{ left: 10px; }
  .gameBox .leftBox25 h1.gameName{ width: 80%; }
  .gameBox .leftBox25 p.note{ margin: 10px 0 30px 0; font-size: 18px; }}

@media (max-width:930px){.ContentsBox{ width: 600px;}
  .gameBox .leftBox25{ width: 100%; float: none;}
  .gameBox .leftBox25 .loginAfterBox ul{ padding: 30px 0; } 
  .gameBox .leftBox25 .loginAfterBox ul li{ min-height: 73px; }
  .gameBox .leftBox25 .loginAfterBox ul li p{ line-height: 63px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p10, .gameBox .leftBox25 .loginAfterBox ul li p.p15, .gameBox .leftBox25 .loginAfterBox ul li p.p20, .gameBox .leftBox25 .loginAfterBox ul li p.p25{ left: 22px; }
  .gameBox .leftBox25 .loginAfterBox p.topic{ top:-50px; }
  .gameBox .leftBox25 .loginAfterBox .gridBox{ background-position:-2px 20px; }
  .gameBox .GameExplanation{ width: 80%; float: none; margin: 0 auto;}
  .gameBox .GameExplanation .userBox p{ padding-top: 0; }
  .footerBox{ position: initial; }
  .footerBox p.Copyright{ text-align: center; }}

@media (max-width:620px){.ContentsBox{ width: 370px;}
  .gameBox .leftBox25 .loginAfterBox p.topic{ height: 30px; left: 0; }
  .gameBox .leftBox25 .loginAfterBox ul{ padding: 14px 0; margin: 0; margin-left: 10px;}
  .gameBox .leftBox25 .loginAfterBox ul li{ min-height: 46px; }
  .gameBox .leftBox25 .loginAfterBox ul li p{ line-height: 40px; font-size: 21px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p1{ left: 10px; }
  .gameBox .leftBox25 .loginAfterBox ul li p.p10, .gameBox .leftBox25 .loginAfterBox ul li p.p15, .gameBox .leftBox25 .loginAfterBox ul li p.p20, .gameBox .leftBox25 .loginAfterBox ul li p.p25{top: 10px;}
  .gameBox .GameExplanation .userBox{height: 45px;}
  .gameBox .leftBox25 p.note{margin: 0px 0 5px 0; font-size: 14px;}
  .gameBox .leftBox25 p.loginBox{ max-width: 180px; font-size: 14px; line-height: 30px;}
  .gameBox .leftBox25 p.loginBox a{ margin:0 auto; height: 30px;}
  .gameBox .leftBox25 h1.gameName{height: 120px;}
  .gameBox .leftBox25 .loginBeforeBox, .gameBox .leftBox25 .loginEndBox{height: 350px;}}

@media (max-width:320px){.ContentsBox{ width: 300px; }
  .gameBox .leftBox25 .loginBeforeBox, .gameBox .leftBox25 .loginEndBox{height: 300px;}
  .gameBox .leftBox25 .loginAfterBox ul li p{font-size: 16px; line-height: 35px;}
  .gameBox .leftBox25 .loginAfterBox ul li{min-height: 35px;}
  .gameBox .leftBox25 .loginAfterBox .gridBox{background-position: 4px 17px;}
  .gameBox .GameExplanation .userBox p{font-size: 16px;}
  .gameBox .leftBox25 p.loginBox{ max-width: 215px; }
  .gameBox .leftBox25 p.loginBox a{margin: 8px 0; height: 38px;}
  .gameBox .leftBox25 p.note{margin: 0px 0 5px 0; font-size: 12px;}
  .gameBox .leftBox25 h1.gameName{height: 100px;}
  .footerBox p.Copyright{ line-height: 16px; width: 85%; margin: 0 auto;}
  body{ padding-bottom: 40px; }}

.styled-select { width:100%; max-width: 800px; min-width: 120px; height:36px; border: 1px solid #00aad0; color: #00aad0; overflow: hidden; background: url(../images/icon_arr_d.png) right center no-repeat #fff; border-radius: 0px 4px 4px 0px;}
.styled-select select { width:100%; *width:120%; _width:120%; color: #00aad0; font-size:17px; background: transparent; padding:5px 5px 5px 15px; font-size: 15px; line-height:1; border: 0; border-radius:0; height:40px;  -webkit-appearance: none; }
.styled-select select option{ background-color:#fff;}

select {-moz-appearance: none;  text-indent: 0.01px; text-overflow: '';}

*::-ms-backdrop, .styled-select{ width:79%\0; background: url(../images/icon_arr_d.png) right center no-repeat transparent\0; background-size: contain;}
*::-ms-backdrop, .styled-select select{ width:125%\0; background: transparent\0;}
*::-ms-backdrop, .styled-select select option{ background-color:#fff\0; padding:5px 0\0;}

:root .styled-select{ width:\9\0; background-color: url(../images/icon_arr_d.png) right center no-repeat transparent\9\0 !important; background-size: contain;}
:root .styled-select select{ width:120%\9\0 !important; background: transparent\9\0 !important;}
:root .styled-select select option{ background-color:#fff\9\0; padding:5px 0\9\0;}


.pop_bk{ width: 100%; height: 100%; background-color: rgba(0,0,0,.50); position: absolute; top: 0; z-index: 980; opacity: 0; display: none; }

.pop_close{ cursor: pointer; position: absolute; ; top: -25px; right: -25px; width: 37px; height: 37px; z-index: 1000; display: block; background: url(../images/the_pop_btn_close.png) center center no-repeat; background-size: contain;}
.pop_close:hover{ opacity: .9; }

.pop_info{ width: 100%; position: absolute; top:20px; z-index: 990;}
.pop_info .QBox{ position: relative; width: 86%; max-width: 800px; margin: 0 auto; padding: 50px 75px; overflow-y:auto;  background: url(../images/br_01.jpg) center center no-repeat #343436; border: 5px solid #dddddd; border-radius: 55px;}
.pop_info .QBox p, .pop_info .QBox h3{ color: #fff; font-weight: bold;text-align: justify; }

.pop_info .QBox h3.theme{ padding-bottom: 30px; font-size: 20px;  line-height: 28px; color: #ffe0e0; }
.pop_info .QBox p.time_over{ text-align: center; height: 80px; padding: 20px 0;} 
.pop_info .QBox p.time_over span.icon{ padding: 55px 0 12px 100px; background: url(../images/icon_overTime.png) center left no-repeat}
.pop_info .QBox p.time_over span.time{ color: #ffee2e; font-size: 70px; font-weight: bold; }
.pop_info .QBox ul.answerBox li.aBox{ padding: 6px 0; }
.pop_info .QBox ul.answerBox li.aBox p{ float: left; width: 94%; font-size: 18px;  line-height: 24px;  }
.pop_info .QBox ul.answerBox li.aBox .s_radio{ width: 30px; float: left; margin-top: 3px;}
.pop_info .QBox input[type="radio"] { display:none; }
.pop_info .QBox input[type="radio"] + label span { display:inline-block; width:19px; height:19px; margin:-1px 4px 0 0; vertical-align:middle; background:url(../images/check_radio_sheet.png) left top no-repeat; cursor:pointer;  -webkit-transition:all .0s ease-in-out; -moz-transition:all .0s ease-in-out; -o-transition:all .0s ease-in-out; -ms-transition:all .0s ease-in-out;}
.pop_info .QBox input[type="radio"]:checked + label span { background:url(../images/check_radio_sheet.png) -19px top no-repeat;  -webkit-transition:all .0s ease-in-out; -moz-transition:all .0s ease-in-out; -o-transition:all .0s ease-in-out; -ms-transition:all .0s ease-in-out;}
.pop_info .QBox label.option{ cursor: pointer; }

.pop_info .btn_yellBox{ width: 100%; padding-top: 30px;} 
.pop_info .btn_yellBox button{ width: 156px; height: 48px; display: block; margin: 0 auto; text-indent: -9999px;}
.pop_info .btn_yellBox button.ok{ cursor: pointer; background: url(../images/br_btn_ok.png) center center no-repeat #ffee2e; background-size: contain;}
.pop_info .btn_yellBox button.ok:hover{ background-color: #ffd200; }

.pop_info .btn_yellBox button.continue { background-image : url(../images/br_btn_continue.png);}

.pop_info .QBox .answerBox{ width: 100%; }
.pop_info .QBox .answerBox p.title_icon{ font-size: 22px; color: #4aff70; text-align: center; padding-top: 100px; background: url(../images/icon_right.png) center center no-repeat ; background-size: contain;}
.pop_info .QBox .answerBox p.Congratulation{ color: #ffee2e; background-image: url(../images/icon_Congratulation.png);}
.pop_info .QBox .answerBox p.wrong{ color: #ffee2e; background-image: url(../images/icon_wrong.png);}
.pop_info .QBox .answerBox p.good_a{ white-space: pre-line; width: 100%; font-size: 20px; color: #fff; line-height: 28px; padding: 30px 0;}
.pop_info .QBox .answerBox p.good_b{ white-space: pre-line; text-align: center; width: 100%; font-size: 20px; color: #fff; line-height: 28px; padding-bottom: 30px;}
.pop_info .QBox .answerBox p.good_a span, .pop_info .QBox .answerBox p.good_b span{ color: #ffee2e; }
.pop_info .QBox .answerBox p.result{ text-align: center; padding: 60px 0 30px 0;}
.pop_info .QBox .answerBox p.result span{ font-size: 70px; font-weight: bold; padding: 0 5px;}
.pop_result .QBox{ max-width: 480px; }
.pop_result .QBox .btn_w_line{ width: 100%; max-width: 400px; margin:0 auto; }
.pop_result .QBox .btn_w_line button{ cursor: pointer; width: 46%; height: 48px; margin:0 1.5%; border:1px solid #e0e0e0; text-indent: -9999px;}
.pop_result .QBox .btn_w_line button.ThatsAll{ background: url(../images/btn_w_line_a.png) center center no-repeat; background-size: contain; }
.pop_result .QBox .btn_w_line button.carryOn{ background: url(../images/btn_w_line_b.png) center center no-repeat; background-size: contain; }

.pop_result .resultBox p.topTitle{ width: 100%; text-indent: -9999px; height: 47px; display: block; background: url(../images/pop_title_score.png) center left no-repeat; background-size: contain;}
.pop_result .QBox{max-width: 530px; padding: 50px 50px;}
.pop_result .QBox .resultBox p.result{ text-align: right;  padding-top: 10px;}
.pop_result ul.userFillBox{ width: 86%; border-top: 1px dashed #e0e0e0; padding: 40px 7% 20px 7%;}
.pop_result ul.userFillBox li{ margin-bottom: 10px; }
.pop_result ul.userFillBox li p{ float: left; font-size: 22px; width: 25%; }
.pop_result ul.userFillBox li input{ float: left; font-size: 20px; width: 65%; line-height: 20px; color: #fff; padding: 5px 5%; background-color: #6a6767; border-radius: 5px; font-family: 'Arial',"微軟正黑體","Microsoft JhengHei", 'Arial',serif;}
.pop_result .QBox .resultBox .btn_w_line{ width: 172px; padding-bottom: 40px;}
.pop_result .QBox .resultBox .btn_w_line button{ width: 100%; margin: 0; background: url(../images/btn_w_line_c.png) center center no-repeat; background-size: contain;}
.pop_result .QBox .btn_w_line button:hover, .pop_result .QBox .resultBox .btn_w_line button:hover{ background-color: #666; }
.pop_result .shareBox{border-top: 1px dashed #e0e0e0; padding: 20px 0; width: 100%;}
.pop_result .shareBox p{ float: left; line-height: 44px; margin-right: 10px;}
.pop_result .shareBox a{ float: left; width: 44px; height: 44px; display: block; margin: 0px 4px;}
.pop_result .shareBox a.fb{ background: url(../images/share_icon_fb.png) center center no-repeat; background-size: contain;}
.pop_result .shareBox a.ig{ background: url(../images/share_icon_ig.png) center center no-repeat; background-size: contain;}
.pop_result .shareBox a.tt{ background: url(../images/share_icon_tt.png) center center no-repeat; background-size: contain;}
.pop_result .shareBox a.fb:hover{ background: url(../images/share_icon_fb_in.png) center center no-repeat; background-size: contain;}
.pop_result .shareBox a.ig:hover{ background: url(../images/share_icon_ig_in.png) center center no-repeat; background-size: contain;}
.pop_result .shareBox a.tt:hover{ background: url(../images/share_icon_tt_in.png) center center no-repeat; background-size: contain;}

.pop_loading{ width: 100%; height: 100vh; background-color: rgba(0,0,0,.50); position: fixed; top: 0; z-index: 980; }
.pop_loading_body{ position: relative; width: 50px; height: 50px; top:50%; left:50%; }
.pop_loading_inner{ position: absolute; width: 100%; height: 100%; top:-50%; left:-50%; background: url(../images/br_loading.gif) center center no-repeat; background-size: contain; }

.alignLeft { text-align: left !important; }
.defaultFont { font-family: 'Arial',serif,sans-serif !important; }
ul.preinfo_list { margin-left: 20px; font-weight: bold; font-size: 20px; color: #fff; }
ul.preinfo_list li{ display:list-item; list-style-type: circle; line-height: 28px; }

a.fillForm{ border: 1px solid #e0e0e0; padding: 6px 3%; display: inline-block; width: 90px; margin: 0 auto; }
a.fillForm:hover{ background-color: #666; }

button.center{ display: block; margin: 0 auto !important; }

@media (max-width:1000px){.pop_info .QBox{max-width: 78%;padding: 50px 5%;}}
@media (max-width:660px){ .pop_info .QBox ul.answerBox li.aBox p{ width: 90%; }}
@media (max-width:599px){.pop_info .QBox h3.theme{ font-size: 18px; line-height: 25px;}
  .pop_info .QBox ul.answerBox li.aBox p, .pop_info .QBox .answerBox p.good_a, .pop_info .QBox .answerBox p.good_b, ul.preinfo_list{ font-size: 16px; }
  .pop_result ul.userFillBox li p{ width: 100%; text-align: center; padding: 10px 0; }
  .pop_result ul.userFillBox li input{ width: 90%; }}
@media (max-width:499px){.pop_info .QBox ul.answerBox li.aBox p{ width: 88%; }
  .pop_info .QBox p.time_over span.icon{ background-size: contain; }
  .pop_info .QBox p.time_over span.time { font-size: 50px; }
  .pop_result .shareBox a{ width: 40px; height: 40px; }}
@media (max-width:380px){.pop_info .QBox h3.theme{ font-size: 16px; padding-bottom: 20px;}
  .pop_info .QBox ul.answerBox li.aBox p{ font-size: 15px; }
  .pop_info .QBox p.time_over{ height: 55px; }
  .pop_result .QBox .resultBox p.result{ padding-top: 40px; }}
@media (max-width:380px){.pop_info .QBox ul.answerBox li.aBox p{ width: 86%; }
  .pop_result .QBox{ padding: 28px 5%; }
  .pop_info .QBox .answerBox p.result{ text-align: center;}
  .pop_info .QBox .answerBox p.result span{ font-size: 44px;}
  .pop_result .resultBox p.topTitle{ background-position: center; }}


.PrizeBoxEnd .QBox{ max-width: 600px; margin: 0; padding: 30px 0 0 0; min-height: 285px;  background: url(../images/br_gift.jpg) center center no-repeat #343436; background-size: contain; border: 5px solid #dddddd; border-radius: 55px;}
.PrizeBoxEnd .QBox .PrizeBox{ padding-top: 65px; }
.PrizeBoxEnd .QBox .PrizeBox p{ text-align: center; line-height: initial;}
.PrizeBoxEnd .QBox .PrizeBox p.userName{ font-size: 25px; }
.PrizeBoxEnd .QBox .PrizeBox p.thePrize { font-size: 50px; color: #fff337; padding-bottom: 10px;}
.PrizeBoxEnd .QBox .PrizeBox p.answerNb{ font-size: 20px; color: #cccccc;}
